.main {
    display: flex;
    flex-direction: column;
}

.top-bg {
    background-image: url('../images/about.png');
}

.top-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid lime; */
    width: 100%;
    padding: 0;
    padding-bottom: 4em;
    margin: 0;
    margin-top: -5em;
    height: 250px;
    /* background-image: url('../images/about.png'); */
    background-attachment: fixed;
    text-shadow: 1px 1px 2px #ffffff;
    background-blend-mode: difference;
    z-index: 9;
}

.top-about-h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    position: relative;
    /* border: 1px solid red; */
    font-size: 40px;
    font-weight: 400;
    margin-top: 0px;
}

.top-about-p {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid blue; */
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    margin-bottom: 50px;
}

.container2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* border: 1px solid red; */
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15em; 
    height: 6em;
    border: 1px transparent;
    border-radius: 50px; 
    background-color: #ffffff;
    /* justify-self: center; */
    margin: 40px 0px;
    z-index: 7;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-size: 12px;
}

.box p:first-child {
    font-weight: 800;
    text-transform: capitalize;
    margin: 0;
}

.box p:nth-child(2), .box p:last-child {
    color: #2a5556;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    margin-top: 8px;
}

.box:hover {
    /* position: absolute; */
    margin: 8px -5px;
    width: 16em;
    height: 7em;
    font-size: larger;
}

.horizontal-line {
    position: relative;
    width: 100%;
    border-top: 3px solid black; /* Change color as needed */
    flex: 1;
    margin-top: 4.5em;
    z-index: 6;
}

.vertical-line {
    top: 21em;
    height: 280px;
    border: 2px solid black; /* Change color as needed */
    flex: 1;
    position: absolute;
    z-index: 6;
}

.elbow1 {
    position: absolute;
    width: 180px;
    height: 164px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    flex: 1;
    margin-top: 32em;
    left: 12em;
    z-index: 6;
}

.elbow2 {
    position: absolute;
    width: 180px;
    height: 164px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    flex: 1;
    margin-top: 32em;
    right: 12em;
    z-index: 6;
}