.division {
    display: flex;
    flex-direction: column;
    flex: 0;
    /* border: 1px solid green; */
    padding: 40px;
}

.division:first-child {
    flex: 3;
    /* padding-left: 50px; */
}

.division:last-child {
    flex: 2;
    padding-left: 0px;
}

h1 {
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 2em;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    background-color: #f9b314;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid lime; */
    height: 115vh ;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #707070;
    border-radius: 10px;
    overflow-y:auto;
    overflow-x: hidden;
}

.switch {
    height: 30px;
    margin: 0px;
    background-color: transparent;
    border: none;
    padding: 0px;
    padding-top: -2em;
    cursor: pointer;
  }

.verify-register-box {
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: row;
    flex: 1;
}

.chat {
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    height: 50vh;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    margin-left: 0.5em;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #707070;
    border-radius: 10px;
}

.input-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin: 1em;
  /* border: 1px solid blue; */
}

.chat input {
  display: inline-flex;
  flex: 4;
  width: 100%;
  height: 2em;
  font-size: 12px;
  flex-direction: row;
  /* border: 1px solid red; */
}

.chat button {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0;
  background-color: transparent;
  border: transparent;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  /* border: 1px solid blue; */
}

.chat button svg {
  fill: #04aa6d;
}

.chat button:hover svg {
  fill: #01c87f;
}

/* Style the chat messages */
.chat-message {
display: flex;
flex-direction: column;
max-height: 30vh;
max-width: 20vw;
margin: 0;
padding: 1em;
padding-top: 0em;
line-height: 1.5em;
font-size: 12px;
/* border: 1px solid red; */
overflow-y: auto;
overflow-x: hidden;
word-wrap: break-word;
word-break: break-word;
}

  

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid lime; */
    height: 50vh;
    width: 100%;
    padding: 0;
    margin-right: 0.5em;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #707070;
    border-radius: 10px;
}

.input-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    margin: 0em 1em;
    /* border: 1px solid red; */
}

.register-container .input-container {
    height: 3em;
    display: flex;
    width: auto;
}

.input-container input[type="text"], input[type="email"] {
    height: 1em;
    width: auto;
    margin: 0.5em 1em;
    padding: 1em;
}

.register-container input[type="text"], input[type="number"], input[type="email"] {
    display: flex;
    height: 20px;
    width: auto;
    margin: 5px;
    padding: 10px;
    border: 1px solid #949494;
    flex-wrap: wrap;
}

.register-container .input-container input {
    margin: 0;
}

.register-container .input-container:first-child input {
    width: 34%;
    margin: 0px 5px;
}

.register-container .input-container select {
    display: flex;
    height: 100%;
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 1px solid #949494;
}

.register-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 10em;
    float: left;
    margin: 10px -20px 10px 55px;
    /* margin-top: -6.3em; */
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    background-color: #04aa6d;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.register-container button:hover {
    background-color: #01c87f;
}

.compose-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lime; */
    height: 60vh;
    width: 100%;
    padding: 0;
    /* padding-right: 100%; */
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #707070;
    border-radius: 10px;
    justify-content: left;
    align-items: flex-start;
}

.compose-container .input-container input {
    height: 10px;
    /* flex: 1; */
}

.compose-container .input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 60px;
    width: 100%;
    /* border: 1px solid lime; */
    padding: 0;
    margin: 0;
    margin-right: 1em;
    /* height: 10px; */
    /* flex: 1; */
}

.compose-container .input-container:last-child {
    max-height: 100%;
}


.compose-container select {
    height: 40px;
    padding-left: 10px;
    margin: 1em;
}

.compose-container textarea {
    height: 20vh;
    width: auto;
    padding: 1em;
    margin: 0.5em 1em 1em 1em;
    resize: none;
}

.compose-container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 3em;
    width: 10em;
    margin-left: 26em;
    margin-top: -3.5em;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    background-color: #04aa6d;
    border: 0;
    border-radius: 5px;
    /* box-shadow: 3px 3px 8px #4e4e4e; */
    cursor: pointer;
    transition: 0.4s;
}

.compose-container button:hover {
    background-color: #01c87f;
}

table {
    display: flex;
    position: relative;
    flex: 1;
    top: -10%;
    table-layout: fixed;
    /* border: 1px solid lime; */
    border-collapse: collapse;
    width: 100%;
    min-height: 92vh;
}
/* table, th, td {
    border: 0;
    border: 1px solid red;
} */
th, td {
    padding: 8px;
    text-align: center;
}

th {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #4e4e4e;
    padding-bottom: 1em;
    padding-top: 2em;
}

tr {
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
}

td {
    padding: 1.3em;
    font-size: 12px;
    /* font-weight: 500; */
}