.division {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid green; */
    /* padding: 2em 0px; */
}  

.division:first-child {
    flex: 1;
    /* flex-wrap: wrap; */
    /* padding-right: 2em;
    padding-left: 2em; */
}

.division:last-child {
    flex: 3;
    /* padding-left: 2em; */
}

.filters-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    width: 100%;
    /* padding: 1em; */
    background-color: #043a87;
    /* border-radius: 10px;
    box-shadow: 5px 5px 15px #707070; */
}

.filters-container h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: 1em;
}

.table-container {
    /* border: 1px solid lime; */
    background-color: #ffffff;
    height: 95vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

table {
    /* min-height: 100vh; */
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    table-layout: normal;
}

th {
    height: 2em;
    padding: 0.8em 0em;
    font-size: 14px;
    background-color: #043a87;
    color: #ffffff;
    /* border-bottom: 1px solid #000000; */
}

tr {
    height: 2em;
    border: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: #ffe4a6; 
}

tr:nth-child(odd) {
    background-color: #fff0cc;
}


td {
    text-align: center;
    padding: 0.5em;
    font-size: 14px;
    font-weight: 600;
}