.division {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid green;
    padding: 40px;
}  

.division:first-child {
    flex: 1;
    /* flex-wrap: wrap; */
    padding-right: 0px;
}

.division:last-child {
    flex: 3;
    padding-left: 0px;
}