.division {
  display: flex;
  flex-direction: row;
  flex: 2;
  width: 100%;
  border: 1px solid green;
  /* padding: 20px; */
  font-size: 12px;
}

.division:first-child {
    flex: 2;
    /* border: 1px solid red; */
    padding: 0px 30px;
}

.division:last-child {
    flex: 1;
    padding: 0px 20px;
}

.population-container {
  height: 30em;
  width: 100%;
  background-color: #ffffff;
  /* padding: 2em; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px #707070;
  overflow-y: auto;
}

.population-table {
  justify-content: center;
  border: 1px solid red;
  width: 100%;
}

td {
  padding: 1em 1em;
}

input {
  width: 7em;
  height: 1.5em;
  font-size: 12px;
}

th {
  background-color: #043a87;
  height: 5em;
  width: 7em;
  padding: 0.5em;
  margin: 0;
  color: #ffffff;
  font-size: 12px;
}