.division {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid green; */
    padding: 40px;
}

.division:first-child {
    flex-direction: row;
    flex: 3;
    /* padding-left: 50px; */
}

.division:last-child {
    flex: 2;
    padding-left: 0px;
}

h1 {
    /* display: flex; */
    /* flex: 1; */
    width: 100%;
    max-height: 1.5em;
    /* align-items: center; */
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    background-color: #dbdbdb;
    color: #626366;
    /* text-shadow: 1px 1px 3px #000000; */
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px; */
}

.switch {
    height: 30px;
    margin: 0px;
    background-color: transparent;
    border: none;
    padding: 0px;
    padding-top: -2em;
    cursor: pointer;
  }

.verify-register-box {
    /* border: 1px solid lime; */
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    flex: 1;
}

.chat {
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    height: 50vh;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #bbbbbb;
    /* border-radius: 10px; */
}

.chat h1 {
    width: 86.3%;
    padding-top: 0.8em;
}

.input-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  margin: 1em;
  /* border: 1px solid blue; */
}

.chat input {
  display: inline-flex;
  flex: 4;
  width: 100%;
  height: 2em;
  padding: 0.3em 0.5em;
  font-size: 12px;
  flex-direction: row;
  /* border: 1px solid red; */
}

.chat button {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: auto;
  padding: 0.3em 0.5em;
  margin: 0;
  background-color: transparent;
  border: transparent;
  /* border-radius: 5px; */
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  /* border: 1px solid blue; */
}

.chat button svg {
  fill: #04aa6d;
}

.chat button:hover svg {
  fill: #01c87f;
}

.chat-message {
display: flex;
flex-direction: column;
max-height: 30vh;
min-height: 30vh;
max-width: 20vw;
margin: 0;
padding: 1em;
padding-top: 0em;
line-height: 1.5em;
font-size: 12px;
/* border: 1px solid red; */
overflow-y: auto;
overflow-x: hidden;
word-wrap: break-word;
word-break: break-word;
}

  

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid lime; */
    height: 50vh;
    width: 100%;
    padding: 0;
    margin-right: 0.5em;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #bbbbbb;
    /* border-radius: 10px; */
}

.input-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    margin: 0.8em 1em;
    /* border: 1px solid red; */
}

.register-container .input-container {
    height: 3em;
    display: flex;
    width: auto;
}

.input-container input[type="text"], input[type="email"] {
    height: 1em;
    width: auto;
    margin: 0.5em 1em;
    padding: 1em;
}

.register-container input[type="text"], input[type="number"], input[type="email"] {
    display: flex;
    height: 20px;
    width: auto;
    margin: 5px;
    padding: 10px;
    border: 1px solid #949494;
    flex-wrap: wrap;
}

.register-container .input-container input {
    margin: 0;
}

.register-container .input-container:first-child input {
    width: 34%;
    margin: 0px 5px;
}

.register-container .input-container select {
    display: flex;
    height: 100%;
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 1px solid #949494;
}

.register-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 10em;
    float: left;
    margin: 10px -20px 10px 55px;
    /* margin-top: -6.3em; */
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    background-color: #04aa6d;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.register-container button:hover {
    background-color: #01c87f;
}

.compose-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lime; */
    height: 60vh;
    width: 100%;
    padding: 0;
    /* padding-right: 100%; */
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #bbbbbb;
    /* border-radius: 10px; */
    justify-content: left;
    align-items: flex-start;
}

.compose-container .input-container input {
    height: 10px;
    /* flex: 1; */
}

.compose-container .input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 60px;
    width: 100%;
    /* border: 1px solid lime; */
    padding: 0;
    margin: 0;
    margin-right: 1em;
    /* height: 10px; */
    /* flex: 1; */
}

.compose-container .input-container:last-child {
    max-height: 100%;
}


.compose-container select {
    height: 40px;
    padding-left: 10px;
    margin: 1em;
}

.compose-container textarea {
    height: 30vh;
    width: auto;
    padding: 1em;
    margin: 0.5em 1em 1em 1em;
    resize: none;
}

.compose-container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 3em;
    width: 8em;
    margin-left: 28em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    background-color: #04aa6d;
    border: 0;
    border-radius: 5px;
    /* box-shadow: 3px 3px 8px #4e4e4e; */
    cursor: pointer;
    transition: 0.4s;
}

.compose-container button:hover {
    background-color: #01c87f;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: baseline; */
    flex: 1;
    flex-wrap: wrap;
    /* border: 1px solid cyan; */
    height: 100% ;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #bbbbbb;
    /* border-radius: 10px; */
    overflow-y:auto;
    overflow-x: hidden;
}

.list-container h1 {
    position: relative;
    border-top-right-radius: 0;
    padding-top: 0.7em;
    /* height: 2em; */
}

.list-container form {
    /* border: 1px solid red; */
    height: 90%;
}

.list-container select {
    padding: 10px;
    outline: none;
    border: none;
    text-align: center;
    width: 75%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.addAllButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 3em;
    width: 7em;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    margin-left: 2em;
    color: #ffffff;
    background-color: #04aa6d;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3em;
    transition: 0.4s;
}

.addAllButton:hover {
    background-color: #01c87f;
}

.addButton {
    height: 3em;
    width: 7em;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 5px;
  }
  
.addH {
    border: 2px solid #04aa6d;
    z-index: 1;
    color: #000000;

  }
  
  .addH:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: #04aa6d;
    transition: all 0.3s ease;
  }
  
  .addH:hover {
    color: #ffffff;
  }
  
  .addH:hover:after {
    right: auto;
    right: 0;
    width: 100%;
  }
  
  .addH:active {
    top: 2px;
  }

table {
    margin: 0;
    height: auto;
    white-space: wrap;
    table-layout: fixed;
    width: 100%;
    /* border: 1px solid lime; */
    border-collapse: collapse;
}
/* table, th, td {
    border: 0;
    border: 1px solid red;
} */
th, td {
    padding: 8px;
    text-align: center;
}

th {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #4e4e4e;
    /* padding-bottom: 1em; */
    padding-top: 0;
    /* width: 10vw; */

}

tr {
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    max-height: 3em;

}

td {
    padding: 1.3em;
    font-size: 12px;
    /* font-weight: 500; */
}