.main {
    display: flex;
    flex-direction: column;
}

.top-bg {
    background-image: url('../images/about.png');
}

.top-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid lime; */
    width: 100%;
    padding: 0;
    padding-bottom: 1.5em;
    margin: 0;
    margin-top: -50px;
    height: 250px;
    /* background-image: url('../images/about.png'); */
    background-attachment: fixed;
    text-shadow: 1px 1px 2px #ffffff;
    background-blend-mode: difference;
    z-index: 9;
}

.top-about-h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    position: relative;
    /* border: 1px solid red; */
    font-size: 40px;
    font-weight: 400;
    margin-top: 0px;
}

.top-about-p {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid blue; */
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    margin-bottom: 50px;
}

.container2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* border: 1px solid red; */
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px; 
    height: 70px;
    border: 1px transparent;
    border-radius: 50px; 
    background-color: #ffffff;
    /* justify-self: center; */
    margin: 40px 0px;
    z-index: 7;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
}

.box p:first-child {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.box p:nth-child(2) {
    font-size: 16px;
    color: #2a5556;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    margin-top: 8px;
}

.box p:last-child {
    font-size: 16px;
    color: #2a5556;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    margin-top: 5px;
}

.horizontal-line {
    position: relative;
    width: 100%;
    border-top: 3px solid black; /* Change color as needed */
    flex: 1;
    margin-top: 4.5em;
    z-index: 6;
}

.vertical-line {
    top: 80px;
    height: 300px;
    border: 2px solid black; /* Change color as needed */
    flex: 1;
    position: absolute;
    z-index: 6;
}

.elbow1 {
    position: relative;
    width: 180px;
    height: 164px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    flex: 1;
    margin-top: -18em;
    margin-left: 12em;
    z-index: 6;
}

.elbow2 {
    position: relative;
    width: 180px;
    height: 164px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    flex: 1;
    margin-top: -10.5em;
    right: -57em;
    z-index: 6;
}

input {
    width: 90%;
    text-align: center;
    background-color: transparent;
    border: 0;
    /* border-bottom: 1px solid #9f9f9f; */
    font-size: 14px;
    font-weight: 700;
}

.position {
    color: #2a5556;
    font-size: 12px;
    font-weight: 800;
    width: 80%;
}

.update-orgchart {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* top: -4em; */
    left: 36em;
    height: 35px;
    width: 7em;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    background-color: #04aa6d;
    border: 0;
    /* box-shadow: 3px 3px 8px #4e4e4e; */
    cursor: pointer;
    transition: 0.3s;
}

.update-orgchart:hover {
    background-color: #01c87f;
}