.main {
  flex-direction: column;
}
.division {
  display: flex;
  flex-direction: column;
  flex: 0;
  /* border: 1px solid green; */
  padding: 40px;
}

.division:first-child {
  flex: 1;
  /* padding-left: 50px; */
}

.division:last-child {
  flex: 1;
  /* padding-left: 0px; */
  flex-direction: column;
  /* padding-top: 5.6em; */
}

.population-container {
  height: 60vh;
  width: 93vw;
  background-color: #ffffff;
  /* padding: 2em; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px #707070;
  overflow: auto;
}

.population-table {
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
}

.population-table th, .population-table td {
  min-width: 5em;
}

.household-container {
  display: flex;
  flex-direction: column;
  height: 35em;
  width: 100%;
  background-color: #ffffff;
  /* padding: 2em; */
  border-radius: 10px;
  margin-bottom: 4em;
  box-shadow: 5px 5px 10px #707070;
  overflow-y: auto;
  overflow-x: hidden;
}

.household-table {
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
}

.ageGroup-container {
  height: 37.7em;
  width: 100%;
  background-color: #ffffff;
  /* padding: 2em; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px #707070;
  overflow-y: auto;
  overflow-x: hidden;
}

.ageGroup-table {
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
}

td {
  text-align: center;
  padding: 1em 1em;
  font-size: 13px;
}

input {
  width: 5em;
  height: 1.5em;
  font-size: 12px;
}

th {
  background-color: #043a87;
  height: 5em;
  width: 7em;
  padding: 0.5em;
  margin: 0;
  color: #ffffff;
  font-size: 12px;
}

th input {
  background-color: #043a87;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-weight: 700;
}

th input:hover {
  border: 1px solid #ffffffd3;
  outline: 1px solid #ffffffd3;
}

.population-table td:first-child {
  height: 3em;
  font-weight: 700;

}

.population-table th p {
  position: relative;
}

.population-table input {
  width: 50%;
  height: 2em;
  text-align: center;
}

h2 {
  margin-bottom: -1.5em;
  font-size: 18px;
}

.update-population, .submit-prone, .update-year,  .submit-ageGroup {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 10em;
  padding: 10px;
  margin: 0;
  margin-bottom: 1em;
  background-color: #04aa6d;
  border: transparent;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.update-population:hover, .submit-prone:hover, .submit-ageGroup:hover {
  background-color: #01d789;
  box-shadow: 0px 0px 5px #01d789;
}

.submit-prone {
  display: block;
  position: relative;
  float: right;
}

.update-year {
  margin-left: 1em;
  background-color: #043a87;
}

.update-year:hover {
  background-color: #0866d1;
  box-shadow: 0px 0px 5px #0866d1;
}

.add-row {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #f9b314;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-top: 0.4em;
  font-size: 50px;
  font-weight: 200;
  padding: 0;
  background-color: #ffffff;
  color: #f9b314;
  text-shadow: 2px 2px 5px #707070;
  box-shadow: 3px 3px 5px #707070;
  cursor: pointer;
  transition: 0.3s;
}

.add-row:hover {
  text-shadow: none;
  /* outline: 1px solid black; */
  box-shadow: none;
}

.modal-cont {
  display: flex;
  justify-content: right;
  /* border: 1px solid red; */
  width: 100%;
  margin-bottom: -2.65em;
}

.modal-cont button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 10em;
  padding: 10px;
  margin: 0;
  position: relative;
  right: 22.5em;
  background-color: #f9b314;
  border: transparent;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.modal-cont button:hover {
  background-color: #f9de14;
  box-shadow: 0px 0px 5px #f9de14;
}

 /* Styles for the modal container */
 .modal {
  display: none;
  height: 10vh;
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Styles for the overlay background */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/* Styles for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#myModal input {
  width: 20em;
}