.division {
  display: flex;
  flex-direction: column;
  flex: 0;
  /* border: 1px solid green; */
  padding: 40px;
}

.division:first-child {
  flex: 1;
  padding-left: 70px;
}

.division:last-child {
  flex: 1;
  padding-left: 0px;
  padding-top: 20px;
}

.division h1 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
}

.prone-table {
    /* border: 1px solid blue; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 40px;
    flex: 1;
    width: 60%;
    min-height: 300px;
    font-size: 14px;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 2px 5px 5px #d3d3d3;
}

.prone-data {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin: 0px;
}

.prone-brgys {
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px;
    margin: 0px;
}

table {
  overflow-y: auto;
}

th {
  text-align: center;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 10px;
  font-weight: 800;
}

td {
  padding: 10px;
}

#map {
  min-height: 50%;
  max-width: 70%;
  /* left: 5%; */
  /* top: -5%; */
  z-index: 9;
}

.legend-cont {
  background-color: #ffffff;
  border-radius: 20px;
  height: auto;
  width: 20%;
  position: relative;
  top: -50%;
  left: 75%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* box-shadow: 2px 5px 5px #d3d3d3; */
}

.legend-cont h3 {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.early-alert {
  position: relative;
  top: 10%;
  border: 0px;
  border: 1px solid #f9b314;
  background-color: #f9b314;
  border-radius: 5px;
  width: 55%;
  /* height: 80px; */
  padding-bottom: 5%;
  align-self: center;
  font-size: 12px;
  padding: 15px 10px 0px 7px;
  /* padding-bottom: -10px; */
  text-align: center;
}

.early-alert h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.alert-message {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 5px;
}

.alert-message p {
  margin-left: 50px;
  margin-top: 5px;
}

.hazard-level-button {
  display: block;
  width: 100%;
  height: 40px;
  text-align: left;
  border: 0px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px solid green; */
  transition: 0.3s;
}

.hazard-level-color {
  position: absolute;
  left: 0px;
  min-width: 10px;
  max-width: 10px;
  min-height: 40px;
  margin: 0px;
  margin-left: 13%;
  padding: 0px;
  transition: 0.3s ease;
  z-index: 7;
}

.hazard-level-button:hover .hazard-level-color {
  min-width: 75%;
  max-width: 100px;
}

.hazard-level-button p {
  display: flex;
  position: relative;
  height: 100%;
  /* border: 1px solid green; */
  padding: 0px;
  margin: 0;
  align-items: center;
  padding-left: 25%;
  z-index: 8;
  transition: 0.3s;
}

.hazard-level-button:first-child p:hover {
  color: #ffffff;
}

.hazard-level-button:nth-child(2) p:hover {
  color: #ffffff;
}

.hazard-level-button:last-child p:hover {
  color: #ffffff;
}

.svg-container {
  position: relative;
  top: -20em;
  width: 100%;
  height: 100%;
  align-self: center;
  /* border: 1px solid green; */
  margin: 0px;
  padding: 20px;
  /* flex-wrap: wrap; */
  transition: 0.3s;
}

.division:first-child img {
  width: 40%;
  /* height: 20%; */
  margin: 20px;
  transition: 0.5s;
  position: absolute;
  box-shadow: 5px 5px 15px #b3b3b3;
  z-index: 7;
}

.division:first-child img:hover {
  width: 80%;
  /* height: 150%; */
  padding: 0px;
  margin: -5%;
  z-index: 8;
}