body {
  overflow-x: auto;
}

.division {
  display: flex;
  flex-direction: column;
  flex: 0;
  border: 1px solid green;
  padding: 40px;
}

.division:first-child {
  flex: 2;
  /* padding-left: 70px; */
}

.division:last-child {
  flex: 1;
  padding-left: 0px;
  /* padding-top: 40px; */
  padding-right: 20px;
}

.prone-table h1 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    padding-top: -5em;
    margin-bottom: 2em;
    /* background-color: #f9b314; */
}

.prone-table {
    /* border: 1px solid blue; */
    border-radius: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-self: center;
    padding: 1em;
    margin-left: 62.5em;
    margin-top: 10em;
    flex: 1;
    width: 23.9em;
    min-height: 23em;
    max-height: 23em;
    font-size: 14px;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 2px 5px 5px #d3d3d3;
    margin-bottom: 0%;
    z-index: 7;
}

.prone-data {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin: 0px;
}

table {
  overflow-y: auto;
}

th {
  text-align: center;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 10px;
  font-weight: 800;
}

td {
  padding: 20px;
}

#map {
  position: relative;
  min-height: 49em;
  /* max-height: 82%; */
  min-width: 100%;
  /* left: 5%; */
  /* top: -5%; */
  z-index: 6;
}

.legend-cont {
  background-color: #ffffff;
  /* border-radius: 20px; */
  height: auto;
  float: left;
  width: 5em;
  position: absolute;
  margin-top: 7em;
  margin-left: 1em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 7;
  /* box-shadow: 2px 5px 5px #d3d3d3; */
}

.legend-cont h3 {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.early-alert {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  margin: 0;
  margin-top: -35em;
  /* left: -5em; */
  margin-left: 73em;
  border: 0px;
  border: 1px solid #f9b314;
  background-color: #f9b314;
  border-radius: 5px;
  width: 30em;
  /* height: 80px; */
  padding-bottom: 5%;
  align-self: center;
  font-size: 12px;
  padding: 0;
  padding-top: 1em;
  /* padding-bottom: -10px; */
  text-align: center;
  z-index: 7;
}

.early-alert h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  margin-top: -5px;
  /* margin-bottom: 5px; */
}

.alert-message {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  background-color: #ffffff;
  padding: 5px 10px 5px 15px;
  width: auto;
  height: 7em;
  border-radius: 5px;
  margin: 5px;
  /* overflow-y: auto; */
  
  /* border: 1px solid lime; */
}

.alert-message p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 5em;
  padding-right: 3em;
  overflow-y: auto;
  overflow-x: hidden;
}

.hazard-level-button {
  display: block;
  width: 100%;
  height: 40px;
  text-align: left;
  border: 0px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px solid green; */
  transition: 0.3s;
}

.hazard-level-color {
  position: absolute;
  left: 0px;
  min-width: 10px;
  max-width: 10px;
  min-height: 40px;
  margin: 0px;
  margin-left: 13%;
  transition: 0.3s ease;
  z-index: 7;
}

.hazard-level-button:hover .hazard-level-color {
  min-width: 75%;
  max-width: 100px;
}

.hazard-level-color.active {
  min-width: 75%;
  max-width: 100px;
}

.hazard-level-button .hazard-level-color.active + p {
  color: #ffffff;
  text-shadow: 2px 2px 1px #000000;
}

.hazard-level-button p {
  display: flex;
  position: relative;
  height: 100%;
  color: #000000;
  /* text-shadow: 1px 1px 1px  #ffffff; */
  padding: 0px;
  margin: 0;
  align-items: center;
  padding-left: 25%;
  z-index: 8;
  transition: 0.3s;
}

.hazard-level-button:first-child p:hover {
  color: #ffffff;
}

.hazard-level-button:nth-child(2) p:hover {
  color: #ffffff;
}

.hazard-level-button:last-child p:hover {
  color: #ffffff;
}

.svg-container {
  position: relative;
  top: -23em;
  width: 100%;
  height: 100%;
  align-self: center;
  /* border: 1px solid green; */
  margin: 0px;
  padding: 20px;
  /* flex-wrap: wrap; */
  transition: 0.3s;
}

.division:first-child img {
  width: 15em;
  /* height: 20%; */
  margin: 20px;
  transition: 0.5s;
  position: absolute;
  box-shadow: 5px 5px 15px #b3b3b3;
  z-index: 7;
}

.division:first-child img:hover {
  width: 30em;
  /* height: 150%; */
  padding: 0px;
  margin: -5%;
  z-index: 8;
}









@media screen and (max-width: 800px) {
  html {

    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: .7s;    
    
    }
    
    html *,
    html *::before,
    html *::after {
    
    box-sizing: inherit;
    
    }
    
    .menu{
    
    margin: 0;
    display: flex;
    /* Works well with 100% width  */
    width: 100%;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    z-index: 999;
    }
    
    .menu__item{
    
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));
    
    }
    
    .menu__item p {
        color: #ffffff;
        position: absolute;
        bottom: 0px;
        font-size: 2vw;
    }
    
    .menu__item::before{
    
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
    
    }
    
    
    .menu__item.active {
    
    transform: translate3d(0, -.8em , 0);
    
    }
    
    .menu__item.active::before{
    
    transform: scale(1);
    background-color: var(--bgColorItem);
    
    }
    
    .icon{
    margin-bottom: 1em;
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 10pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 620;
    
    }
    
    .menu__item.active .icon {
    
    animation: strok 1s reverse;
    
    }
    
    @keyframes strok {
    
    100% {
    
        stroke-dashoffset: 400;
    
    }
    
    }
    
    .menu__border{
    
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
    
    }
    
    .svg-container {
    
    width: 0;
    height: 0;
    }

    #map {
      display: block;
      height: 100vh;
      width: 100vw;
      position: relative;
      z-index: 8;
    }
    
    .legend-cont {
      display: none;
    }

    .footer {
      display: none;
    }

    .prone-table {
      display: none;
    }
    
  }
  
  @media screen and (max-width: 50em) {
      .menu{
          font-size: .8em;
      }
    }