.division {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 1;
    /* border: 1px solid red; */
    padding: 40px;
}

.division:first-child {
    flex: 2;
    padding-right: 20px;
}

.division:nth-child(2) {
    flex: 3;
    /* padding: 40px 20px; */
}

.division:last-child {
    flex: 1;
    padding-left: 20px;
}


.svg-container {
    width: 95%;
    height: 300px;
    /* border: 1px solid green; */
    margin: 0px;
    padding: 20px;
    transition: 0.3s;
}

.calendar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: auto;
    padding: 0px;
    /* padding-top: 0px; */
    background-color: #ffffff;
    margin: 0;
    font-size: 14px;
    position: static;
    box-shadow: 5px 5px 7px #cccccc;
    z-index: 1;
    transition: 0.3s;
}

.calendar .container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 20px;
    padding: 15px 20px;
    margin: 0px;
    color: #626366;
    background-color: #dbdbdb;
    /* border: 1px solid green; */
}

.calendar .mdy {
    /* border: 1px solid red; */
    font-weight: normal;
    display: flex;
    flex: 1;
    margin-top: 0px;
    font-size: 20px;
}

.calendar .mdy a {
    justify-content: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    color: #626366;
}

.calendar-table {
    width: 100%;
    table-layout: fixed; 
}

.calendar-table th,
.calendar-table td {
    width: 14.28%; 
    height: 100px; 
    text-align: center;
    vertical-align: middle;
    padding: 10px; 
}

.calendar table {
    width: 95%;
    max-height: 100%;
    border-collapse: collapse;
    margin: 10px;
    padding-bottom: 0px;
}

.calendar th,
.calendar td {
    width: auto;
    height: 32px;
    padding: 5px;
    text-align: center;
    /* border-radius: 100%; */
    background-color: #ffffff;
    transition: 0.2s;
}

.calendar td a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    /* border: 1px solid green; */
}

.calendar td.today {
    background-color: #043a87;
    color: #ffffff;
    border-radius: 0%;
}

.calendar td.today:hover {
    background-color: #043a87;
    color: #ffffff;
    border-radius: 0%;
    cursor: default;
}

.calendar td:not(.today):hover {
    background-color: #0b68e9;
    cursor: default;
    color: #ffffff;
    border-radius: 0%;
}

.calendar td:not(.today) a:hover {
    background-color: #0b68e9;
    cursor: default;
    color: #ffffff;
    border-radius: 0%;
}

.calendar-nav {
    display: inline;
    float: right;
    margin-top: 15px;
}

.calendar-container {
    float: left;
    width: 60%;
    padding: 20px;
}

.upcoming-events-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    float: left;
    /* width: 40%; */
    height: auto;
    /* width: 300px; */
    overflow-y: auto;
    /* background-color: #ffffff; */
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 5px 5px 7px #cccccc; */
}

.events:last-child {
    flex: 4;
}

.event {
    margin-bottom: 0px;
}


.upcoming-day {
    display: inline;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    /* background-color: #043b8744; */
    color: #686868;
    text-align: center;
    padding: 0px;
    padding-left: 10px;
    border-left: 3px solid #043a87;
    font-size: 26px;
    font-weight: 400;
    float: left;
    margin-right: 25px; /* Add spacing between day and event name */
}

.upcoming-name {
    display: flex;
    /* border: 1px solid red; */
    flex: 1;
    max-width: 48%;
    text-wrap: nowrap;
    overflow-x:hidden;
    color: #686868;
}

.upcoming-name2 {
    position: relative;
    color: #686868;
    /* left: 10%; */
    font-size: 12px;
}

.upcoming-time {
    display: inline;
    position: relative;
    top: -50%;
    float: right;
    padding: 10px;
    font-size: 12px;
    background-color: #043a87;
    color: #ffffff;
}

.clock, #clock {
    font-size: 12px;
    text-align: right;
    font-weight: 500;
    word-spacing: 0.05rem;
    margin-bottom: 10px;
}

.calendar .sunday {
    background-color: #dbdbdb;
}

/* Style for the "gray" class (previous and next month's days) */
.calendar .gray {
    color: gray;
}

.calendar .gray:first-child {
    color: black;
    background-color: #dbdbdb;
}

.warning-system {
  height: 120vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 1em; Add padding to prevent content from sticking to the edges */
}

.warning-system img {
  margin-top: 3em;
  height: 20em;
  width: 31em;
}

.warning-system table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

.warning-system th, .warning-system td {
  text-align: center;
  padding: 1em;
}

.warning-system th {
  font-size: 9px;
  font-weight: 800;
  background-color: #043a87;
  color: #ffffff;
  border-bottom: 0.4em solid #ffffff;
}

.warning-system tr td {
  font-size: 16px;
}

.warning-system tr td:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust width to take up the entire available space */
  height: 12.5em;
  padding: 0px;
  margin: 0;
}

.warning-system tr td:nth-child(2) h1 {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.warning-system tr td:nth-child(2) p {
  padding: 0.8em;
  font-size: 12px;
  margin: 0;
}

.warning-system tr td:last-child p {
  padding: 0em;
  font-size: 12px;
  margin: 0;
}

.warning-system tr td:nth-child(2) p:last-child {
  margin-top: auto;
}

.warning-system td img {
  margin: -2em 0em -1em 4em;
  width: 5em;
  height: 5em;
}


.socials {
    /* border: 1px solid lime; */
    display: flex;
    width: 10em;
    height: 3em;
    padding: 0;
    margin: 0em 0em 1em 8.7em;
}

ul {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
  }
  ul li {
    list-style:none;
  }
  ul li a {
    display:block;
    position:relative;
    width:2em;
    height:2em;
    line-height:2em;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:#404040;
    margin: 0 0.3em;
    transition:.5s;
  }
  ul li a span {
    position:absolute;
    transition: transform .5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#404040;
  }
  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#404040;
  }
  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
  .facebook:hover {
    color: #3b5998;
  }
  .facebook:hover span { 
    background: #3b5998;
  }
  .map:hover {
    color: #04aa6d;
  }
  .map:hover span { 
    background: #04aa6d;
  }
  .instagram:hover {
    color: #c32aa3;
  }
  .instagram:hover span { 
    background: #c32aa3;
  }
  .google:hover {
    color: #dd4b39;
  }
  .google:hover span { 
    background: #dd4b39;
  }
  ul li a .twitter {
    color: #1da1f2;
  }
  ul li a:hover:nth-child(3) {
    color: #c32aa3;
  }
  ul li a:hover:nth-child(4) {
    color: #dd4b39;
  }

  .hotlines-container {
    margin: 0;
    padding: 0;
  }

  .hotlines-container h1 {
    color: red;
    font-size: 20px;
    text-align: center;
  }

  .national-hotline {
    margin: 0em 1em;
    height: 4em;
    border: 1px solid #ff0000;
    background-color: #ffffff;
    box-shadow: 5px 5px 7px #cccccc;

  }

  .national-hotline h2 {
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 10px;
    padding: 0.5em 1em;
    margin: 0;
  }

  .national-hotline p {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  .outer-hotlines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    height: 5em;
    margin: 0.5em 0.5em;
  }

  .hotlines {
    flex: 1;
    border: 1px solid #ff0000;
    margin: 0em 0.5em;
    min-height: 10em;
    background-color: #ffffff;
    box-shadow: 5px 5px 7px #cccccc;
    
  }

  .hotlines h2 {
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 10px;
    padding: 0.5em 1em;
    margin: 0;
  }

  .chat {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 12em;
    flex: 1;
    margin-left: 2em;
    margin-top: 6em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #cccccc;


  }

  .chat h1 {
    font-size: 16px;
    font-weight: 700;
    background-color: #f9b314;
    color: #000000;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .input-container {
    display: flex;
    flex: 1;
    margin: 1em;
    /* border: 1px solid lime; */
  }

  .chat input {
    display: inline-flex;
    flex: 4;
    width: 100%;
    height: 2.7em;
    font-size: 12px;
    /* border: 1px solid red; */
  }

  .chat button {
    display: inline-flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px;
    margin: 0;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    /* border: 1px solid blue; */
}

.chat button svg {
    fill: #04aa6d;
}

.chat button:hover svg {
    fill: #01c87f;
}

/* Style the chat messages */
.chat-message {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  max-height: 30vh;
  max-width: 20vw;
  margin: 0;
  padding: 1em;
  padding-top: 0em;
  line-height: 1.5em;
  font-size: 12px;
  /* border: 1px solid red; */
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-word;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d0;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  right: 0;
  margin: -3vh 1vw 0vh 0vw;
  font-size: 34px;
  color: #dadada;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.1s;
}

.close-btn:hover {
  color: #ffffff;
  border: 0;
  outline: 0;
  text-shadow: 0px 0px 5px #ffffff;
  font-weight: 800;
}

.confirm-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 9vw;
  margin-top: 1em;
  border: 0;
  border-radius: 5px;
  background-color: #043a87;
  color: #ffffff;
  /* box-shadow: 2px 2px 5px #000000; */
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.confirm-btn:hover {
  background-color: #0866d1;
  box-shadow: 0px 0px 10px #0866d1;
}

.early-alert {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 0px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  width: 37vw;
  height: 25vh;
  padding-bottom: 5%;
  align-self: center;
  font-size: 12px;
  padding: 0;
  padding-top: 1em;
  text-align: center;
  opacity: 0.9;
  z-index: 7;
  transition: 0.3s;
  }

  .alert-message svg {
    transition: 0.3s;
  }
  
  
  .alert-yellow {
    background-color: #ffea00;
    color: #000000;
  }
  
  .alert-orange {
    background-color: #ff6600;
    color: #ffffff;
  }
  
  .alert-red {
    background-color: #cc0000;
    color: #ffffff;
  }
  
  .early-alert h3 {
    position: absolute;
    text-align: center;
    left: 30%;
    padding-left: 1em;
    font-size: 12px;
    font-weight: 600;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .alert-message {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    background-color: #ffffff;
    color: #272727;
    padding: 0;
    /* padding: 5px 10px 5px 15px; */
    width: auto;
    height: 100%;
    border-radius: 5px;
    margin: 5px;
    margin-top: 2em;
  }

  .alert-message textarea {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    height: 6em;
    margin: 0px;
    /* margin-left: 6em; */
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    border: 0px;
    outline: 0px;
    color: #ffffff;
    background-color: #272727;
  }

  .alert-message p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
    padding-left: 80px;
    font-size: 16px;
    font-weight: 600;
    padding-right: 1em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .flip-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 52vh;
    margin: 1em;
    margin-top: 6em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-inner .flip-card-front,
.flip-card-inner .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 7px #cccccc;
}

.card-switch {
  /* border: 1px solid lime; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 3em;
  position: absolute;
  top: 0;
  padding: 0;

}

.flip-card-front h2,
.flip-card-back h2 {
  font-size: 18px;
  flex: 1;
  text-align: center;
  margin-top: 0.5em;
  font-weight: 700;
}

.flip-card-back {
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 7px #cccccc;
}

.flip-card .flip-btn-front,
.flip-card .flip-btn-back {
    /* padding: 8px; */
    background-color: #f9b314;
    color: #000000;
    cursor: pointer; 
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.flip-card .flip-btn-front:hover,
.flip-card .flip-btn-back:hover {
  background-color: #f9d714;
  box-shadow: 0px 0px 5px #f9d714;
}

.flip-btn-front {
  flex: 1;
  height: 100%;
  border: 0;
}

.flip-btn-back {
  flex: 1;
  height: 100%;
  border: 0;
}

#loginForm,
#registerForm {
  position: relative;
  height: 100%;
  top: 0;
  margin: 0em 1em;
  margin-top: 5em;
  /* border: 1px solid red; */
}

#registerForm {
  margin-top: 3.2em;
}

#loginForm input {
  background-color: #e8f0fe;
  height: 3em;
  width: 90%;
  border: 0;
  outline: 0;
  margin: 1em 0em;
  padding: 0px 10px;
}

#registerForm input, select {
  background-color: #e8f0fe;
  height: 2.5em;
  width: 90%;
  border: 0;
  outline: 0;
  margin: 0.5em 0em;
  padding: 0px 10px;
}

#registerForm select {
  width: 98%;
  margin-bottom: 0.5em;
}

#loginForm label,
#registerForm label {
  display: flex;
  position: absolute;
  font-size: 12px;
  margin-top: -0.5em;
}

.login-btn,
.register-btn {
  margin-top: 1em;
  width: 50%;
  height: 2.5em;
  background-color: #043a87;
  color: #ffffff;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn {
  margin-top: 0.3em;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #0866d1;
  box-shadow: 0px 0px 5px #0866d1;
}

input:focus {
  background-color: #cccccc;
  border: 0;
  outline: 0;
}















input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


















@media screen and (max-width: 800px) {
  .main {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .calendar {
    display: none;
  }

  .division {
    flex-direction: column;
  }

  .socials {
    position: absolute;
    top: 12vh;
    right: 0;
  }

  .clock {
    display: block;
    position: relative;
    margin-top: 10vh;
  }

  .hotlines-container {
    display: block;
    position: relative;
    width: 95vw;
    /* top: 0vh; */
    margin: 0;
    padding: 0;
  }

  .registration button {
    display: block;
    flex: 1;
    position: relative;
    margin: 0em 1.8em 1em 0em;
    float: right;
  }

  .warning-system {
    
    width: 100vw;
    margin: 1em;
    height: auto;
    /* margin: 0; */
    /* border: 1px solid lime; */
  }

  .warning-system img {
    margin-top: 2em;
    width: 95vw;
    height: auto;
  }

  .warning-system table {
      table-layout: auto;
      border-collapse: collapse;
      color: #ffffff;
      white-space: nowrap;
  }

  .warning-system tr :not(th){
      text-align: center;
      height: 8em;
      padding: 1em;
  }

  .warning-system th {
      width: 95vw;
      font-size: 9px;
      font-weight: 800;
      padding: 0.7em;
      background-color: #043a87;
      color: #ffffff;
      border-bottom: 0.4em solid #ffffff;
  }


  .warning-system tr td {
      font-size: 14px;
      /* height: 12em; */
  }

  .warning-system tr td:nth-child(2) {
      display: flex;
      flex-direction: column;
      width: auto;
      /* justify-content: center; */
      height: 12.5em;
      padding: 0em 1em;
      margin: 0;
      
  }

  .warning-system tr td:nth-child(2) h1 {
      margin: 0;
      margin-top: 1em;
      padding: 0;
      height: auto;
      width: 100%;
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      /* border: 1px solid lime; */
  }

  .warning-system tr td:nth-child(2) p {
    display:flex;
    flex: 1;
    text-wrap: wrap;
    justify-content: center;
      padding: 0.8em;
      width: auto;
      height: auto;
      font-size: 9px;
      margin: 0;
      /* border: 1px solid lime; */
  }

  .warning-system tr td:last-child p {
      padding: 0em;
      height: auto;
      font-size: 12px;
      margin: 0;
      /* border: 1px solid lime; */
  }

  .warning-system tr td:nth-child(2) p:last-child {
      /* width: 100%; */
      margin-top: auto;
  }

  .warning-system td img {
      position: relative;
      /* margin-left: 4em; */
      /* margin-top: -5em; */
      margin: -2vh;
      margin-left: 6vw;
      width: 5em;
      height: 5em;
  }

  .upcoming-events-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    margin-top: -10vh;
    /* flex: 1; */
    /* float: left; */
    width: 83vw;
    height: auto;
    max-height: 60vh;
    /* width: 300px; */
    overflow-y: auto;
    /* background-color: #ffffff; */
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid red; */
    /* box-shadow: 5px 5px 7px #cccccc; */
  }

  .event {
      margin-bottom: 0px;
  }


  .upcoming-day {
      display: inline;
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
      /* background-color: #043b8744; */
      color: #686868;
      text-align: center;
      padding: 0px;
      padding-left: 5px;
      border-left: 3px solid #043a87;
      font-size: 26px;
      font-weight: 400;
      float: left;
      margin-right: 3vw; /* Add spacing between day and event name */
  }

  .upcoming-name {
      display: flex;
      /* border: 1px solid red; */
      flex: 1;
      /* max-width: 48%; */
      text-wrap: nowrap;
      overflow-x:hidden;
      color: #686868;
  }

  .upcoming-name2 {
      position: relative;
      color: #686868;
      /* left: 10%; */
      font-size: 12px;
  }

  .upcoming-time {
      display: inline;
      position: relative;
      top: -5vh;
      float: right;
      padding: 10px;
      font-size: 12px;
      background-color: #043a87;
      color: #ffffff;
  }

  .flip-card {
    width: 88vw;
  }
}


