.main2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.division {
    display: flex;
    flex-direction: column;
    flex: 0;
    border: 1px solid green;
    padding: 40px;
}  

.division:first-child {
    flex: 2;
    /* flex-wrap: wrap; */
    padding-right: 0px;
}

.division:last-child {
    flex: 1;
    padding-left: 0px;
}

.division h3 {
    display: flex;
    font-size: 16px;
    /* border: 1px solid green; */
    margin: 5%;
    /* width: 100%; */
    margin: 0px;
    margin-top: 30px;
}

.division p {
    display: flex;
    font-size: 14px;
    /* border: 1px solid green; */
    margin: 5%;
    width: 90%;
    margin: 0px;
    margin-top: 10px;
}

#map {
    display: block;
    height: 37rem;
    width: 100%;
    position: relative;
    margin: 0px;
    /* left: 5%; */
    /* top: -5%; */
    z-index: 9;
}

.barangays-location {
    background-color: #ffffff;
    display: block;
    width: 90%;
    height: auto; /* Set height to auto to fit its content */
    margin: 40px;
    padding-bottom: 70px;
    box-shadow: 5px 5px 10px #d3d3d3;
    overflow-y: hidden;
    overflow-x: auto; /* Add horizontal scrollbar if content overflows */
    white-space: nowrap; /* Prevent content from wrapping to the next line */
}

iframe {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.map-container {
    display: inline-block;
    height: auto;
    position: relative;
    
}

.map-text {
    width: 320px;
    position: absolute;
    /* bottom: 0; */
    left: 5%;
    /* right: 0; */
    text-align: center;
    color: #000000;
    padding: 0px;
    margin: 0;
    font-size: 14px;
    /* border: 1px solid blue; */
    text-wrap: wrap;
}

.map-text a {
    display: inline-block;
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-decoration-color: #8b8b8b;
    /* text-align: center; */
}


.legend-cont {
    background-color: #ffffff;
    /* border: 1px transparent #ffffff; */
    border-radius: 20px;
    height: 250px;
    width: 60%;
    position: relative;
    /* top: -20px; */
    /* left: 12%; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 5px 5px #d3d3d3;
}

.legend-cont h3 {
    margin: 0px;
    text-align: center;
}

.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid #dcdcdc; */
    flex: 1;
    margin-top: 20px;
}

.indicators {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid blue; */
    align-self: center;
    text-align: left;
    
}

.indicators:last-child {
    flex: 5;
    padding-left: 20px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    flex: 3;
    font-size: 10px;
    font-weight: 400;
}

.colors {
    width: 25px;
    height: 25px;
}
