.division {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 1px solid green; */
  /* padding: 20px; */
  font-size: 12px;
}

.division:first-child {
    flex: 2;
    padding-left: 50px;
    padding-right: 50px;
}

.division:last-child {
    flex: 1;
    padding: 20px;
}

h4 {
    font-size: 14px;
}

p {
    display: inline-block;
    /* word-spacing: 5px; */
    line-height: 20px;
}

p a {
    text-decoration: none;
    color: #0000ff;
}

table {
    width: 100%;
}

.table-container {
    align-self: center;
    /* border: 1px solid red; */
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    margin: 20px 0px;
    /* margin-bottom: 50px; */
    background-color: #ffffff;
    box-shadow: 2px 5px 5px #d3d3d3;
    border-radius: 15px;
}

th {
    background-color: #043a87;
    color: #ffffff;
    border-color: #043a87;
    margin: 0px;
    padding: 10px;
}

td {
    border: 0px;
    border-bottom: 1px solid #bdbdbd;
    padding: 20px;
}

td, th {
    width: 150px;
}

tr {
    font-size: 12px;
}

div::-webkit-scrollbar {
    width: 7px;
}

div::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
    /* border: 1px solid blueviolet; */
    width: 60%;
    max-height: 500px;
    margin-top: 20px;
    padding: 20px 40px;
    box-shadow: 2px 5px 5px #d3d3d3;
    border-radius: 20px;
    background-color: #ffffff;
}

.summary-container h3 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin: 30px 0px;
}

.summary {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.summary-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* text-align: right; */
}

.population {
    display: flex;
    background-color: #ffffff;
    width:  95%;
    height: 300px;
    padding: 20px;
    margin: 0px;
    border-radius: 20px;
    top: 10%;
    box-shadow: 2px 5px 5px #d3d3d3;
    overflow-x: auto;
}

#yearSelect {
    position: relative;
    margin: 0px;
    margin-top: -20px;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    border: 0px;
    background-color: #ffffff;
    font-weight: 700;
    z-index: 8;
}

.graph-container {
    /* border:1px solid black; */
    display: block;
    /* flex: 1; */
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px;
}