.main:last-child {
    padding: 50px;
}

.division {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* border: 1px solid green; */
    padding: 20px;
    padding-left: 3em;
    font-size: 12px;
    margin: 0px;
    margin-top: 12em;
}

.division:last-child {
    flex: 1;
    flex-direction: column;
    padding-top: 0.4em;
    padding-left: 0px;
}

.main p {
    position: absolute;
    font-size: 14px;
    margin: 40px 20px 20px 40px;
}

.main p a {
    text-decoration: none;
    color: #0000ff;
}

.textarea-wrapper {
    display: inline-flex;
    /* border: 1px solid red; */
    width: 100%;
    padding: 0;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
}

.textarea-wrapper-row {
    display: inline-flex;
    /* border: 1px solid orange; */
    width: 100%;
    padding: 0;
    margin: 0px;
    position: relative;
}

.textarea-wrapper-row:first-child {
    margin-top: 3.6em;
}

.outer-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    /* border: 1px solid cyan; */
    width: 100%;
    height: auto;
    position: relative;
    margin: 2em 0.5em 0em 0.5em;
}

.placeholder {
    position: absolute;
    top: 2.3em;
    left: 2em;
    pointer-events: none;
    padding: 8px; 
    color: #888; 
    font-size: 10px;
}

.division:last-child .placeholder {
    top: 1.3em;
    left: 0em;
}

input {
    display: flex;
    height: 30px;
    width: 100%;
    /* text-align: right; */
    margin: 25px 7px 0px 7px;
    padding: 10px 20px 0px 20px;
    box-shadow: 1px 1px 3px #7f7f7f;
    border-radius: 50px;
    border: 0;
    text-align: center;
}

.division:last-child input {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 20px 1px 0px 1px;
    padding: 0px;
    padding-left: 10px;
    box-shadow: 1px 1px 3px #7f7f7f;
    border-radius: 0px;
    text-align: center;
}

.identifier {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    margin-left: 1em;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 500;
    text-wrap: nowrap;
}

.identifier2 {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0px;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 500;
    text-wrap: nowrap;
}

.buttons-container {
    display: inline-flex;
    /* border: 1px solid red; */
    width: 100%;
    padding: 0;
    margin: 0;
}

#print {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0em 1em;
    margin-top: 3em;
    width: 8em;
    height: 3em;
    border: 1px transparent;
    border-radius: 10px;
    background-color: #04aa6d;
    font-size: 14px;
    font-weight: 600;
    /* box-shadow: 5px 5px 5px #888; */
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}

#print:hover {
    /* box-shadow: none; */
    border-style: none;
    background-color: #01c87f;
}

#done {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 3em;
    width: 8em;
    height: 3em;
    border: 1px transparent;
    border-radius: 10px;
    background-color: #043a87;
    font-size: 14px;
    font-weight: 600;
    /* box-shadow: 5px 5px 5px #888; */
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}

#done:hover {
    /* box-shadow: none; */
    border-style: none;
    background-color: #0555c5;
}

/* TABLE */
.table-container {
    display: block;
    border: 1px solid gray;
    width: 90%;
    /* padding: 40px; */
    max-height: 500px;
    overflow: auto;
    box-shadow: 10px 10px 20px #b9b9b9;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout:auto;
    /* margin: 40px; */
    background-color: #ffffff;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
    min-width: 1em;
    font-size: 12px;
    /* white-space: nowrap; */
}

th {
    font-size: 10px;
    font-weight: 700;
}

tr {
    font-size: 14px;
}

tr:first-child {
    background-color:#f9b314;
    height: 100px;
}