body {
    overflow: hidden;
}

#map {
    height: 650px;
    width: 100%;
    position: relative;
    z-index: 9;
}

.early-alert {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 0px;
  /* border: 1px solid #f9b314; */
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  width: 30vw;
  /* height: 80px; */
  padding-bottom: 5%;
  margin-top: -48em;
  margin-left: 1.5em;
  align-self: center;
  font-size: 12px;
  padding: 0;
  padding-top: 1em;
  /* padding-bottom: -10px; */
  text-align: center;
  opacity: 0.9;
  z-index: 7;
  transition: 0.3s;
  }

  .alert-message svg {
    transition: 0.3s;
  }
  
  .radio-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 1.5em;
  }
  
  .alert-yellow {
    background-color: #ffea00;
    color: #000000;
  }
  
  .alert-orange {
    background-color: #ff6600;
    color: #ffffff;
  }
  
  .alert-red {
    background-color: #cc0000;
    color: #ffffff;
  }
  
  .container {
    display: block;
    position: relative;
    padding: 0;
    padding-right: 1em;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark1,
  .checkmark2,
  .checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  .checkmark1 {
    background-color: #e6e600;
  }
  
  .checkmark2 {
    background-color: #ff6600;
  }
  
  .checkmark3 {
    background-color: #e60000;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark1 {
    box-shadow: 0px 0px 5px #ffff00;
    background-color: #ffff00;
    height: 0.6em;
    width: 0.6em;
  }
  
  .container:hover input ~ .checkmark2 {
    box-shadow: 0px 0px 5px #f9b314;
    background-color: #f9b314;
    height: 0.6em;
    width: 0.6em;
  }
  
  .container:hover input ~ .checkmark3 {
    box-shadow: 0px 0px 5px #ff0000;
    background-color: #ff0000;
    height: 0.6em;
    width: 0.6em;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark1 {
    box-shadow: 0px 0px 5px #ffff00;
    background-color: #ffff00;
    /* border: 0.5px solid #333333; */
    height: 0.6em;
    width: 0.6em;
  }
  
  .container input:checked ~ .checkmark2 {
    box-shadow: 0px 0px 5px #f9b314;
    background-color: #f9b314;
    /* border: 0.5px solid #333333; */
    height: 0.6em;
    width: 0.6em;
  }
  
  .container input:checked ~ .checkmark3 {
    box-shadow: 0px 0px 5px #ff0000;
    background-color: #ff0000;
    /* border: 0.5px solid #333333; */
    height: 0.6em;
    width: 0.6em;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark1:after,
  .checkmark2:after,
  .checkmark3:after {
    content: "";
    position: absolute;
    display: none;
  }

  .early-alert-btn {
    display: flex;
    position: relative;
    height: 2em;
    width: 20%;
    margin: -4vh 0vw 0vh 23.5vw; 
    /* margin: 1em 0.5em -2.7em 0em; */
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    background-color: #04aa6d;
    color: #ffffff;
    border: 0px;
    border-radius: 3px;
    /* box-shadow: 2px 2px 4px #242424; */
    cursor: pointer;
    transition: 0.3s;
    z-index: 7;
  }
  
  .early-alert h3 {
    text-align: center;
    padding-left: 1em;
    font-size: 12px;
    font-weight: 600;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .alert-message {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    background-color: #272727;
    color: #ffffff;
    padding: 0;
    /* padding: 5px 10px 5px 15px; */
    width: auto;
    height: 7em;
    border-radius: 5px;
    margin: 5px;
  }

  .alert-message textarea {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    height: 6em;
    margin: 0px;
    /* margin-left: 6em; */
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    border: 0px;
    outline: 0px;
    color: #ffffff;
    background-color: #272727;
  }

  #typhoon_alert::placeholder {
    color: #ffffff;
    position: relative;
    top: 1.5em;
    text-align: center;
  }

  .alert-message p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
    padding-left: 6em;
    padding-right: 1em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 13em;
    left: 1em;
    background-color: #000000;
    height: 5em;
    width: 13.2em;
    border-radius: 10px;
    opacity: 0.8;
  }

  .container2 a {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ababab;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    /* border: 1px solid red; */
    opacity: 1;
    transition: 0.2s;
  }

  .container2 a:hover {
    color: #ffffff;
  }

  .container2 a img {
    margin: 0.5em 1.5em;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 100%;
  }

  .container2 a svg {
    position: absolute;
    right: 1em;
    width: 22px;
    height: 22px;
    fill: #ababab;
    transition: 0.2s;
  }

  .container2 a:hover svg {
    fill: #ffffff;
  }


  .bulletin {
    display: flex;
    flex-direction: column;
    width: 13em;
    height: 22em;
    float: right;
    margin: -26em 2em 0em 0em;
    padding: 1em 1.5em;
    background-color:#000000;
    border-radius: 10px;
    opacity: 0.9;
  }

  .bulletin h1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #272727;
    padding-bottom: 1em;
  }

  .bulletin-info {
    display: flex;
    color: #ffffff;
    width: 100%;
    height: 100%;
    /* border: 1px solid lime; */
    font-size: 12px;
  }

  table {
    flex: 1;
    width: 100%;
    table-layout: normal;
    border-collapse: collapse;
  }

  td {
    margin: 0em;
  }

  tr {
    margin: 1em;
    /* border: 1px solid red; */
  }

  td input {
    height: 1em;
    font-size: 12px;
    background-color: #000000;
    outline: none;
    border: none;
    /* box-shadow: 1px 1px 3px #7f7f7f; */
    color: #ffffff;
    text-align: right;
  }